{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}CATALOGO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">

                    <div class="card-header d-block d-sm-flex border-0">
                        <div class="me-3">

                            <h4 class="card-title mb-2">
                                <a href="{% url 'catalogo:T_MateriaPrima'%}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                <b>FOMRULARIO MATERIA PRIMA</b>
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body tab-content px-4 pt-2">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <form action="{% url 'catalogo:G_MateriaPrima'%}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% if clave is not None %}
                                    <input type="hidden" class=" form-control" name="clave" value="{{ clave }}">
                                    {% else %}
                                    <input type="hidden" class=" form-control" name="clave" value="{{ ultimo_folio }}">
                                    {% endif %}

                                    <input type="hidden" class="form-control" name="tecnico"
                                        value="{{ user.first_name }} {{user.last_name}}">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3">
                                            <h6 class="h6-form">MATERIA PRIMA *</h6>
                                            {% if errorCol is not None %}
                                            <input type="text" autofocus name="descripcion"
                                                class=" form-control is-invalid"
                                                placeholder="Ingrese materia prima (obligatorio)" required>
                                            <div class="invalid-feedback ">
                                                La materia prima ya se registro anteriormente
                                            </div>
                                            {% else %}
                                            <input type="text" autofocus name="descripcion" class="form-control input"
                                                placeholder="Ingrese materia prima (obligatorio)" required>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">PRECIO U. *</h6>
                                            <input type="number" step="0.01" name="precio" class="form-control input"
                                                placeholder="Ingrese el precio unitario (obligatorio)" value="0"
                                                required>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-3">
                                            <h6 class="h6-form">MERMA *</h6>
                                            <input type="number" step="0.01" name="merma" class="form-control input"
                                                value="2" placeholder="Ingrese la merma (obligatorio)" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3">
                                            <h6 class="h6-form">ESTATUS *</h6>
                                            <select class="select2 form-control col-12" name="estatus" required>
                                                {% for Estatus in FEstatus %}
                                                <option value="{{ Estatus.ID }}">{{ Estatus.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3">
                                            <h6 class="h6-form">UNIDAD MEDIDA *</h6>
                                            <select class="select2 form-control col-12" name="unidad" required>
                                                {% for UnidadMedida in FUnidadMedida %}
                                                <option value="{{ UnidadMedida.ID }}">{{ UnidadMedida.Descripcion }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group grupo-botones">
                                        <button type="submit" class="btn-guardar" name="agregar">💾 Guardar y
                                            agregar otro</button>
                                        <button type="submit" class="btn-guardarOtro" name="salir">💾 Guardar y
                                            salir</button>
                                        <a href="{% url 'catalogo:T_MateriaPrima' %}" class="btn-cancelar">
                                            ❌ Cancelar
                                        </a>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}