{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}CATALOGO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">
                    <div class="card-header d-block d-sm-flex border-0">
                        <div class="me-3">
                            <h4 class="card-title mb-2">
                                <a href="{% url 'catalogo:T_Tolva'%}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                <b>EDITAR TOLVA {{TETolva.Clave}}</b>
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body tab-content px-4 pt-2">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <form action="{% url 'catalogo:A_Tolva'%}" method="POST" autocomplete="off">{% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{TETolva.ID}}">
                                    <input type="hidden" name="clave" value="{{TETolva.Clave}}">
                                    <input type="hidden" class="form-control" name="tecnico"
                                        value="{{ user.first_name }} {{user.last_name}}">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">ALIAS *</h6>
                                            <input type="text" name="alias" value="{{TETolva.Alias}}"
                                                class="form-control input" placeholder="Ingrese el tipo de animal"
                                                required>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">CAPACIDAD *</h6>
                                            <input type="text" name="capacidad" value="{{TETolva.Capacidad}}"
                                                class="form-control input" placeholder="Ingrese el tipo de animal"
                                                required>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">ESTATUS *</h6>
                                            <select class="select2 form-control col-12" name="estatus" required>
                                                <option value="{{FiltradoEstatus.ID}}">
                                                    --------{{FiltradoEstatus.Descripcion}}--------
                                                </option>
                                                {% for Estatus in FEEstatus %}
                                                <option value="{{ Estatus.ID }}">{{ Estatus.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row" style="display: none;">
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">MARCA *</h6>
                                            <input type="text" name="marca" value="{{TETolva.Marca}}"
                                                class="form-control input" placeholder="Ingrese el tipo de animal"
                                                required>

                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">MODELO *</h6>
                                            <input type="text" name="modelo" value="{{TETolva.Modelo}}"
                                                class="form-control input" placeholder="Ingrese el tipo de animal"
                                                required>

                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3" style="display: none;">
                                            <h6 class="h6-form">UNIDAD *</h6>
                                            <select class="select2 form-control col-12" name="unidad" required>
                                                <option value="{{FiltradoUnidad.ID}}">
                                                    --------{{FiltradoUnidad.Descripcion}}--------
                                                </option>
                                                {% for unidades in FEUnidades %}
                                                <option value="{{ unidades.ID }}">{{ unidades.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group grupo-botones">
                                        <button type="submit" class="btn-editar" name="agregar" id="agregarBoton">
                                            ✎ Actualizar
                                        </button>
                                        <a href="{% url 'catalogo:T_Tolva' %}" class="btn-cancelar">
                                            ❌ Cancelar
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}